@model IEnumerable<Modelo.Modelos.Pregunta>

@{
    ViewBag.Title = "Index";
}

<h2>Preguntas</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/jqGrid-Botstrap.css" rel="stylesheet" />
@section scripts {
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/i18n/grid.locale-es.js"></script>
    <script src="~/Scripts/jquery.jqGrid.js"></script>
    <script>
        $(function () {
            debugger;
            $("#grid").jqGrid({
                url: "/Preguntas/ListarPreguntas",
                datatype: "json",
                mtype: "Get",
                colNames: ["Id", "Descripción","Acción"],
                colModel: [
                    { key: true, hidden: true, name: "Id", index: "Id" },
                    { key: false, name: "Descripcion", index: "Descripcion", editable: false },
                      { name: 'act', index: 'act', width: 75, sortable: false }
                ],
                pager: $("#pager"),
                rowNum: 10,
                rowList: [10, 15],
                height: "100%",
                viewrecords: true,
                caption: "Preguntas",
                emptyrecords: "No hay preguntas",
                gridComplete: function () {
                    var ids = jQuery("#grid").getDataIDs();
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        debugger;
                        be = "<a class='btn btn-warning  btn-sm' href='/Preguntas/Edit/" + cl + "'>Editar</a> |";
                        se = "<a class='btn btn-info  btn-sm' href='/Preguntas/Details/" + cl + "'>Detalles</a> |";
                        ce = "<a class='btn btn-danger  btn-sm' href='/Preguntas/Delete/" + cl + "'>Eliminar</a>";
                        jQuery("#grid").setRowData(ids[i], { act: be + se + ce })
                    }

                },
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                multiselect: false
            });
        });
    </script>
}
