@model IEnumerable<Modelo.Modelos.Alumno>

@{
    ViewBag.Title = "Index";
}

<h2>Alumnos</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/jqGrid-Botstrap.css" rel="stylesheet" />
@section scripts {
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/i18n/grid.locale-es.js"></script>
    <script src="~/Scripts/jquery.jqGrid.js"></script>
    <script>
        $(function () {
            debugger;
            $("#grid").jqGrid({
                url: "/Alumnoes/ListarAlumnos",
                datatype: "json",
                mtype: "Get",
                colNames: ["Id", "Nombre", "Documento", "Primer apellido", "Segundo apellido", "Correo", "Acción"],
                colModel: [
                    { key: true, hidden: true, name: "Id", index: "Id" },
                    { key: false, name: "Nombre", index: "Nombre", editable: false },
                    { key: false, name: "Documento", index: "Documento", editable: false },
                    { key: false, name: "PrimerApellido", index: "PrimerApellido", editable: false },
                    { key: false, name: "SegundoApellido", index: "SegundoApellido", editable: false },
                    { key: false, name: "Correo", index: "Correo", editable: false },
                    { name: 'act', index: 'act', sortable: false, "width": 600, search: false }
                ],
                pager: $("#pager"),
                rowNum: 10,
                rowList: [10, 15],
                height: "100%",
                viewrecords: true,
                caption: "Alumnos",
                emptyrecords: "No hay Alumnos",
                gridComplete: function () {
                    var ids = jQuery("#grid").getDataIDs();
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        debugger;
                        be = "<a class='btn btn-warning  btn-sm' href='/Alumnoes/Edit/" + cl + "'>Editar</a> |";
                        se = "<a class='btn btn-info  btn-sm' href='/Alumnoes/Details/" + cl + "'>Detalles</a> |";
                        ce = "<a class='btn btn-danger  btn-sm' href='/Alumnoes/Delete/" + cl + "'>Eliminar</a>";
                        jQuery("#grid").setRowData(ids[i], { act: be + se + ce })
                    }

                },
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                shrinkToFit: false,
                autowidth: true,
                multiselect: false
            }).navGrid("#pager", {
                edit: false, add: false, del: false, searchtext: "Buscar alumnos"
            },
            {}, {}, {},
            {
                zIndex: 100,
                caption: "Buscar alumnos",
                sopt: ['cn']
            });;
        });
    </script>
}